.section-title {
    position: relative;
    margin-bottom: 20px;
  }
  
  .section-title .title {
    position: relative;
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    z-index: 20;
    color:#007acc;
  }
  
  .section-title:after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #007acc;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 10;
  }
  
  
  /*----------------------------*\
      post row
  \*----------------------------*/
  
  .post.post-row:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .post.post-row .post-img {
    width: 40%;
    float: left;
  }
  
  .post.post-row .post-body {
    margin: 0px 0px 0px calc(40% + 30px);
    padding: 0;
  }
  
  
  .article p{
    font-size: 20px;
  line-height: 35px;
  }
  .post .post-meta {
    margin-bottom: 10px;
  }
  
  .post-meta li {
    display: inline-block;
    color: #97989b;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .post-meta li a {
    color: #97989b;
    font-weight: 700;
  }
  
  .post-meta li a:hover, .post-meta li a:focus {
    color: #007acc;
  }
  
  .post-meta li:after {
    content: '•';
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .post-meta li:last-child:after {
    display: none;
  }
  .post-thumbnail {
    overflow: hidden;
    padding-bottom: 15px;
    text-align:center;
  }
  .post-thumbnail img{
        display:block;
        max-height:650px;
        margin-left:auto;
        margin-right:auto;
        }
  
        .post {
          position: relative;
          margin-bottom: 30px;
        }
  
        .post .post-body {
          position: relative;
          margin: -15px 0px 0px 3%;
          padding: 5%;
          background: #fff;
          z-index: 10;
        }
  
        .post .post-img {
          display: block;
          overflow: hidden;
        }
  
        .post-img>img {
          width: 100%;
          -webkit-transition: 1.6s -webkit-transform;
          transition: 1.6s -webkit-transform;
          transition: 1.6s transform;
          transition: 1.6s transform, 1.6s -webkit-transform;
        }
  
        .post-img:hover>img {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }
  
        .post .post-title {
          font-size: 18px;
        }
  
        .post .post-title.title-sm {
          font-size: 16px;
        }
  
        .post .post-title.title-lg {
          font-size: 25.629px;
        }
        .post .post-title {
            font-size: 18px;
            margin-bottom: 5px;
            text-transform: capitalize;
        }
  
        .post .post-category {
          margin-bottom: 5px;
          color:#007acc;
        }
  
        .recent-post-section > .container-fluid{
          background-color:#fff;
          padding-top:30px;
          padding-bottom:20px;
        }
        .recent-img img {
          height: 205px;
          object-fit: cover;
      }